body {
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
p {
  color: #8f8f8f;
}
/* container */
.container-fluid {
  padding: 7% 15%;
}
/* section */
.colored-section{
  background-color: #ff4c68;
  color: white;
}
.white-section{
  background-color: white;
}

/* heading */
.heading-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* NAV BAR */
.navbar {
  padding-bottom: 4.5rem;

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 200;
  font-size: 1.2rem;
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* title section */

 #title .container-fluid{
   padding: 3% 15% 7%;
   text-align: left;;

 }

/* title image */
.title-img-container{
  position: relative;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */
#features {

 position: relative;
  z-index: 1;
 padding-left: 7%;
    padding-right: 7%;

}

.feature-container {
    padding: 7% 4%;
}

.feature-icon {
  color: #ef8172;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

 .feature-title{
  font-size: 1.5rem;
}
/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
/* press */
#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing{
  padding: 100px;

}
.pricing-card {
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
/* Call to Action */

  /* here this code wont work coz above for h3 we specified some styles
    and we priority of element specifier is high.so inorder apply new style we need class selector here. */
  /* font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5; */

/* .cta-heading{ i commented this code coz i used class heading title for h3 in cta section
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
} */

/* Footer */
.footer-icon{
  margin: 20px 10px;
  color: black;
}
/* Media Query */
 /*   while refractering you should not change things in media query */
@media (max-width:990px) {
   #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
